.touch-hack-enable {
    pointer-events: none;
}

.ab-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
    overflow: auto;
}

.ab-container .bar-header {
    position: fixed;
}


/*↑emma*/


/*mod(modified)*/

/*button*/
.button.mod-load-more{
    color: #666 !important;
    font-size: 14px;
}

/*input*/

.mod-input-number {
    width: calc(65% - 94px) !important;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 28px !important;
    min-height: 28px;
    text-align: center;
    padding: 0 !important;
    background: rgb(245, 245, 245) !important;
}


/*tag*/

.mod-tag {
    position: relative;
    margin-right: 10px;
}
.mod-tag.mod-tag-small {
    margin-right: 5px !important;
}



/*icon*/

.mod-icon {
    border: solid 0.5px rgb(151, 151, 151);
    border-radius: 25px;
    padding: 3px 6px;
}


/*content*/

.mod-has-header {
    margin-top: 44px !important;
}

.mod-has-tabs-top {
    margin-top: 93px !important;
}

.mod-has-tabs-top {
    margin-top: 91px;
}


/*card*/

.card.mod-flat {
    overflow: visible !important;
    box-shadow: none !important;
}


/*item*/

.item.mod-no-border {
    padding-top: 0 !important;
    border: none !important;
}

.item.mod-no-side-border {
    /*padding-top: 0 !important;*/
    border-left: none !important;
    border-right: none !important;
}

.item.mod-no-side-border:nth-of-type(1) {
    border-top: none !important;
}


/*img*/

.mod-radius {
    border-radius: 3px;
}

.mod-4x3 {
    padding-bottom: 75%;
}

.mod-cover {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd !important;
}

.mod-cover:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, .12);
}


/*form/list/item/input*/

.mod-list {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 1px !important;
}

.mod-inset-forms>.item {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.mod-inset-forms>.item-divider{
    border-top: solid 1px #ddd !important; 
    margin: 0px -10px 0px -10px !important;
}
.item.mod-no-ativated {
    background-color: rgba(0, 0, 0, 0) !important;
    border-top-color: rgba(0, 0, 0, 0) !important;
    border-bottom-color: #ddd !important;
}

.mod-item-input {
    padding: 6px 0px 5px 16px;
}
.item-input.mod-short>.input-label{
    width: 20% !important;
}

.mod-select-input {
    display: block;
    height: 34px;
    padding: 2px 8px 3px 0px;
    line-height: 31px;
    /*opacity: 0.5*/
}


/*特殊类SP*/


/*会员卡*/

.mod-member-card {
    position: relative;
    /*padding-top: 44px !important;*/
    color: white !important;
    padding: 0 !important;
    margin: 32px 20px !important;
    overflow: hidden !important;
    border-radius: 12px !important;
    border-bottom: solid 1px rgb(200, 200, 200) !important;
    box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, .35)
}

.mod-member-card-logo{
    position: absolute;
    overflow: hidden;
    border-radius: 12px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: exclusion;
    background: -webkit-radial-gradient(top left,80% 197%, rgba(195,155,255,0) 20%,rgba(195,155,255,0.3) 100%);
    border:none !important;
}

.mod-member-card>iframe,
.mod-member-card>img {
    border-radius: 12px;
    overflow: hidden !important;
}

.mod-member-card h1,
.mod-member-card h2,
.mod-member-card p {
    color: white !important;
}

.mod-member-card:before {
    content: ' ';
}

.mod-cart-prod-disabled {
    position: absolute;
    left: -10px;
    top: 0;
    right: -10px;
    bottom: 0;
    z-index: 2;
    background-color: rgba(125, 125, 125, .92);
}

.mod-cart-prod-disabled:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    background-size: 100px 100px;
    background-image: url(../img/noise.gif);
}

.mod-cart-prod-disabled>h2 {
    position: absolute;
    top: 50%;
    margin-top: -36px !important;
    width: 100%;
    color: white !important;
    font-weight: bold;
    z-index: 1;
    line-height: 1 !important;
    text-align: center;
}

.mod-cart-prod-disabled>h2>small {
    margin-top: -10px;
    font-size: 14px !important
}


/*会员*/

.mod-member0 {}


/*doodle 涂鸦*/

.mod-doodle {
    display: block;
    margin: -10px;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}


/*分割线 split line*/

.mod-split-line {
    position: relative;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}

.mod-split-line.mod-15shorter {
    margin-left: 15px;
    margin-right: 15px;
}

.mod-split-line.mod-break-padding {
    margin-left: -10px;
    margin-right: -10px;
}

.mod-split-line.mod-break-2padding {
    margin-left: -20px;
    margin-right: -20px;
}

.mod-split-line.mod-thin {
    transform: scaleY(0.5);
}


/*note*/
.mod-note{
    opacity: 0.5;
    padding: 0 14px !important;
}
.mod-note>.icon{
    font-size: 15px;
}
.mod-note-bottomline{
    position: relative;
    top: 10px;
    text-align: center !important;
    border-top: solid 0.5px rgb(150,150,150);
    padding-top: 30px; 
    margin-bottom: 0 !important;
    opacity: 0.5
}
.mod-note-emptylist{
    text-align: center !important;
    padding-top: 20px;
    line-height: 1.6; 
    opacity: 0.5
}
.mod-note-emptylist>.icon{
    font-size: 32px;
}


/*价格*/

.mod-member-price {
    display: inline-block;
    font-size: 20px !important;
}

.mod-original-price {
    display: inline-block;
    font-size: 12px;
    /*opacity: 0.5;*/
    text-decoration: line-through;
}

.mod-price-tag {
    position: relative;
    left: 7px;
    top: -4px;
    transform: scale(0.625) translateY(14px);
    transform-origin: left top;
    padding: 4px 7px 4px 0px;
    margin-bottom: 0px !important;
    display: inline-block;
    font-size: 12px;
    border: solid 1px rgb(151, 151, 151);
    border-left: none;
    overflow: visible !important;
}

.mod-price-tag:before {
    content: ' ';
    position: absolute;
    transform: rotate(-45deg) translate(-7px, -7px);
    height: 20px;
    width: 20px;
    border-top: solid 1px rgb(151, 151, 151);
    border-left: solid 1px rgb(151, 151, 151);
}

.mod-spinner-list{
    position: relative;
    /*top: -10px;*/
    display: block;
    text-align: center;
}
.mod-spinner-page{
    position: relative;
    top: 6px;
    
}
.mod-spinner-page svg{
    fill: rgb(255,255,255);
}








/*util*/
/*字体*/

.mod-font-light {
    font-weight: 300 !important;
}

.mod-font-bold {
    font-weight: 500 !important;
}

.mod-text-indent {
    text-indent: 0.5em;
}
.mod-text-center {
    text-align: center;
}

.mod-sticky-bar {
    top: 50px;
    left: 0;
    right: 0;
    height: 157px;
    background: rgba(255, 0, 0, .5)
}

.mod-color-theme {
    /*theme-color*/
    color: rgb(20, 140, 230) !important;
}

.mod-color-excited {
    color: rgb(250, 40, 0) !important;
}
.mod-color-cold {
    color: rgb(151,151,151);
}

.mod-color-white {}


/*display*/

.mod-display-inlineblock {
    display: inline-block !important;
}



.mod-no-margin-top {
    margin-top: 0 !important
}

.mod-margin-top-20 {
    margin-top: 20px !important
}

.mod-no-margin-bottom {
    margin-bottom: 0 !important
}

.mod-no-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.mod-no-padding {
    padding: 0 !important
}


.mod-no-border-top {
    border-top: none !important
}

.mod-bg-transparent {
    background: transparent !important;
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.mod-item-note {
    position: absolute;
    right: 10px;
    top: 15px;
}

.mod-text-center {
    text-align: center !important;
}

.mod-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mod-fixed {
    position: fixed !important;
}

form.mod-fixed {
    top: 0px !important;
    left: 0;
    width: 100% !important;
    border: none;
    border-bottom: solid 1px #ddd !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0 !important;
    z-index: 3;
}

.mod-fixed.mod-fixed-top {
    top: 0;
}

.mod-fixed.mod-fixed-bottom {
    bottom: 0 !important;
    margin-bottom: 0 !important;
}


/*对ionic原写法覆盖*/
html{
  touch-action: manipulation !important;
}

html,
body {
    overflow: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    color: rgb(51, 51, 51) !important;
}
.backdrop{
    background-color: rgba(255,255,255,.4) !important;
}
.button {
    border-width: 0.5px !important;
    transition-duration: 250ms;
}

.button.activated {
    /*will-change: transform;*/
    transition-duration: 0ms;
}

.button.button-light {
    border-color: #ddd !important;
}


.bar.bar-light,
{
    background-color: rgba(255, 255, 255, .95) !important;
}

.item:not(.item-divider) {
    background-color: transparent !important;
}

.button.ion-ios-plus-empty.button-small,
.button.ion-ios-minus-empty.button-small {
    min-width: 28px;
}
.item-checkbox {
    padding-left: 54px !important;
}


.slider-pager .slider-pager-page {
    width: 10px !important;
}

.ion-record:before {
    transform: scale(0.5);
}

.button-small {
    line-height: 21px !important;
    min-height: 28px !important
}

small {
    font-size: 12px !important;
}

.item-icon-right .ion-ios-arrow-right {
    font-size: 24px !important;
    opacity: 0.5
}

.item.item-divider {
    border-left: none !important;
    border-right: none !important;
}

.bar-header .ion-ios-cart {
    transform: scale(0.75);
}

.card {
    position: relative !important;
    box-shadow: none
}

.item-thumbnail-left{
    padding-top: 10px !important;
    min-height: 102px !important;
    padding-bottom: 12px !important;
}


/*hack*/

.mod-img-in-thumbnail {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    background-color: #ddd !important;
}

.item.mod-ghost {
    border: none !important;
    pointer-events: none !important;
    background: transparent !important;
}
.mod-touch-hack{
    position: fixed;
    background: red;
    top: 0;
    width: 100%;
    height: 96px;
    z-index: 2000
}