.tdp-disable {
  color:#aaa;
}
.tdp-header {
  position: absolute;
  z-index: 4;
  border-bottom: solid 1px #ddd;
}
.tdp-content {
  padding-top: 84px;
}
.tdp-center {
  text-align: center;
}
.tdp-fz-12 { font-size: 12px; }
.tdp-d-row .col{
  padding: 0px;
  height: 50px;
  line-height: 50px;
}
.tdp-d-during{
  background-color: #e6f0ff;
}
.tdp-d-checkin{
  line-height: 35px !important;
  position: relative;
  color: white;
  background-color: #387ef5;
}
.tdp-d-checkin:after{
  content: "入住";
  position: absolute;
  bottom: 8px;
  left: 0;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  text-align: center;
}
.tdp-d-checkout{
  line-height: 35px !important;
  position: relative;
  color: white;
  background-color: #387ef5;
}
.tdp-d-checkout:after{
  content: "离店";
  position: absolute;
  bottom: 8px;
  left: 0;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  text-align: center;
}
.tdp-d-item .row{
  padding: 0;
}
.tdp-d-list {
  margin-bottom: 0;
}
.tdp-d-list .item{
  padding: 0;
}
.tdp-msg {
  position: absolute;
  bottom: 15px;
  text-align: center;
  left: 15px;
  right:15px;
  background: rgb(61, 61, 61); /* Fallback for older browsers without RGBA-support */
  background: rgba(61, 61, 61, 0.8);
  color: white;
  z-index: 3;
  /*box-shadow: 0px 3px 16px 3px rgba(0,0,0,.35);*/
  border-radius: 6px;
  font-size: 16px;
  padding: 12px;
}