<div ng-controller="cityPickerController as cp">

    <div class="cp-side cp-wrapper">
        <div class="cp-cell ricepaper">
            <a ng-repeat="cityInitial in cp.cityListContent.searchInitialList" ng-click="cp.scrollTo(cityInitial)">{{cityInitial}}<br /></a>
        </div>
    </div>



    <ion-content delegate-handle="cityInitial" id="cp-city-list" class="content has-header">

        <div class="list">
            <ng-repeat ng-repeat="cities in cp.cityListContent.cityLists">
              <div id="{{cities.searchInitial}}" class="item item-divider cp-item-divider">
                  {{cities.searchInitial}}
              </div>
              
              <ul class="list cp-list">
                  <li ng-repeat="city in cities.cities track by $index" ng-click="cp.callback(city.cityId, city.cityName)" class="item cp-item" ng-class="{'touch-hack-enable': cp.touchHackEnable}">
                    <div class="row cp-row">
                      <div class="col col-14">
                          {{city.cityName}}
                      </div>
                    </div>
                  </li>
              </ul>
          </ng-repeat>
        </div>
    </ion-content>
</div>