<div ng-controller="cityPickerController as cp">
    <div class="cp-side cp-wrapper">
        <div class="cp-cell">
            <a ng-click="cp.goto('dq')">当前</a><br />
            <a ng-click="cp.goto('rm')">热门</a><br />
            <a ng-click="cp.goto('h')">H</a><br />
            <a ng-click="cp.goto('n')">N</a><br />
            <a ng-click="cp.goto('s')">S</a><br />
            <a ng-click="cp.goto('w')">W</a>
        </div>
    </div>
    <ion-content delegate-handle="cityList" id="cp-city-list" class="content has-header">

        <div class="list">
            <div id="dq" class="item item-divider cp-item-divider">
                当前
            </div>
            
            <ul class="list cp-list">
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        北京
                    </div>
                  </div>
                </li>
            </ul>

            <div id="rm" class="item item-divider cp-item-divider">
                热门
            </div>
            
            <ul class="list cp-list">
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        南京
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        上海
                    </div>
                  </div>
                </li>
            </ul>

            <div id="h" class="item item-divider cp-item-divider">
                H
            </div>
            
            <ul class="list cp-list">
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        杭州
                    </div>
                  </div>
                </li>
            </ul>

            <div id="n" class="item item-divider cp-item-divider">
                N
            </div>
            
            <ul class="list cp-list">
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        南京
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        南通
                    </div>
                  </div>
                </li>
            </ul>

            <div id="s" class="item item-divider cp-item-divider">
                S
            </div>
            
            <ul class="list cp-list">
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        上海
                    </div>
                  </div>
                </li>
            </ul>

            <div id="w" class="item item-divider cp-item-divider">
                W
            </div>
            
            <ul class="list cp-list">
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        无锡
                    </div>
                  </div>
                </li>
                <li class="item cp-item">
                  <div class="row cp-row">
                    <div class="col col-14">
                        武昌
                    </div>
                  </div>
                </li>
            </ul>
        </div>
    </ion-content>
</div>