<div ng-controller="cityPickerController as cp">
    <div class="cp-side cp-wrapper">
        <div class="cp-cell">
            <a ng-repeat="cities in cp.cityLists" ng-click="cp.scrollTo(cities.initials)">{{cities.initials}}<br /></a>
        </div>
    </div>
    <ion-content delegate-handle="cityList" id="cp-city-list" class="content has-header">

        <div class="list">
            <ng-repeat ng-repeat="cities in cp.cityLists">
              <div id="{{cities.initials}}" class="item item-divider cp-item-divider">
                  {{cities.initials}}
              </div>
              
              <ul class="list cp-list">
                  <li ng-repeat="city in cities.lists track by $index" ng-click="cp.callback(city.cityId, city.cityName)" class="item cp-item">
                    <div class="row cp-row">
                      <div class="col col-14">
                          {{city.cityName}}
                      </div>
                    </div>
                  </li>
              </ul>
          </ng-repeat>
        </div>
    </ion-content>
</div>