<div ng-controller="advanceOrderListController as sol" ng-init="sol.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">我的预售券</h1>
        <!-- <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button> -->
    </div>
    <div class="list mod-has-header">
        <div ng-repeat="order in sol.orderLists" >
            <div class="item item-divider">
                <p>券号 #{{order.OrderNum}} {{order.GoodsName}}</p>
            </div>
            <div class="item item-thumbnail-left mod-no-side-border" ng-click="sol.nextState(order.ID)" >
                <div ng-repeat="goods in order.GoodsList track by $index" class="mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{goods.img}});"></div>
                <!-- 订单状态 -->
                <span class="item-note">
                    <p>{{order.Status | orderStatus2}}</p>
                </span>
                <h2>券名：{{order.GoodsList[0].GoodsName}}</h2>
                <p>份数：{{order.GoodsList[0].GoodsNum}}</p>
                <p>有效日期：{{order.GoodsList[0].UseEndDate.slice(0,-9)}} - {{order.GoodsList[0].UseStartDate.slice(0,-9)}}</p>
            </div>
        </div>
    </div>

    <!-- 查无结果 -->
    <div ng-show="sol.showLoadingBool.searchBool==true && sol.orderListNum ==0 " style="text-align: center; padding-top: 30%; opacity: 0.5">
        <h1><i class="icon ion-sad-outline"></i></h1>
        <h3>{{'noResults' | translate}}</h3>
    </div>

</div>