<div ng-controller="bookRoomListController as brl" ng-init="brl.init()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{brl.hotel.hotelName}}</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>
    <!-- 内容 -->
    <div class="padding mod-has-header">
        <!-- 轮播 -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="mod-doodle">
            <ion-slide ng-repeat="room in brl.rooms.lists">
                <img style="width: 100%; height: 100%;" ng-src="{{room.roomImgSrc}}">
            </ion-slide>
        </ion-slide-box>
        <div class="mod-split-line mod-thin mod-break-padding" style="margin-top: 10px;"></div>
        <!-- info -->
        <div class="list mod-inset-forms">
            <a class="item" ui-sref="hotelInfo({hotelId:brl.hotelId})">
                <span class="mod-tag" ng-repeat="feature in brl.hotel.hotelFeatures">
                    <i class="icon mod-icon {{feature.icon}}"></i>
                    {{feature.name}}
                </span>
                <span class="item-note">
                    {{'detail'|translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </a>
            <!-- <a class="item" href="{{brl.locationHref}}"> -->
            <a class="item" ng-click="brl.map()">
                <i class="icon ion-ios-location-outline"></i> 上海市· 浦东新区· 祖冲之路2277弄
                <span class="item-note">
                    {{'map'|translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </a>
            <div class="mod-split-line mod-break-padding"></div>
            <!-- 查询 -->
            <!-- <div class="list padding mod-inset-forms"> -->
            <div class="item item-input item-stacked-label mod-no-ativated" ng-click="brl.showDP(true); tdp.init(brl.checkIn, brl.checkOut,null , null, brl.doAfterPickDates);">
                <span class="input-label">{{'date'|translate}}</span>
                <p class="mod-select-input mod-color-theme">{{brl.checkIn | date:'MM月dd日'}}{{'checkIn'|translate}} > {{brl.checkOut | date:'MM月dd日'}}{{'checkOut'|translate}}&nbsp·&nbsp{{'total'|translate}}{{brl.stayDays}}{{'days'|translate}}</p>
            </div>
            <div class="mod-split-line mod-break-padding"></div>
        </div>
        <!-- 客房列表 -->
        <div class="list mod-inset-forms">


            <a class="item item-thumbnail-left mod-no-side-border" ng-repeat="room in brl.rooms.lists" ng-click="brl.nextState(room.roomId,brl.hotelId,brl.checkIn,brl.checkOut,room.roomRemain)">
                <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{room.roomImgSrc}});"></div>
                <span class="item-note">
                    <h2 class="mod-member-price mod-color-excited">￥{{room.roomAveragePri}}<small>/{{'days'|translate}}</small></h2>
                    <button class="button button-small button-assertive button-block mod-no-margin-top"  ng-class="{class1:(room.roomRemain==0),class2:!(room.roomRemain==0)}">
                        
                        <span ng-if="room.roomRemain==0">{{'bookSoldOut'|translate}}</span>
                        <span ng-if="!(room.roomRemain==0)">{{'booking'|translate}}</span>
                        <i class="icon ion-ios-arrow-right"></i>
                    </button>
                </span>
                <h2>{{room.roomName}}</h2>
                <p>{{room.roomDescription}}</p>
                <p>
                    <span class="mod-tag" ng-repeat="feature in room.roomFeatures">
                        <i class="icon {{feature.icon}}"></i>
                    </span>
                </p>
            </a>
        </div>
        <p ng-show="brl.showLoadingBool.searchRoomListBool ==true && brl.rooms.roomNum == 0">很抱歉，您选择的酒店暂无结果</p>
        <!-- date picker start-->
        <div class="ab-container" ng-show="brl.datePickerShow">
            <div class="bar bar-header">
                <button class="button button-clear button-positive" ng-click="brl.showDP(false)">{{'back'|translate}}</button>
            </div>
            <travel-date-picker></travel-date-picker>
        </div>
        <!-- date picker start-->
    </div>
</div>
