<div ng-controller="bookOrderInfoController as bookOrderInfo" ng-init="bookOrderInfo.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{'orderDetail'|translate}}</h1>
        <!-- <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button> -->
    </div>
    <div class=" mod-has-header">
        <div class="item mod-no-border-top">
            <!-- 订单号 -->
            <div class="row">
                <p class="col mod-no-padding">{{'orderID'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.OrderNum}}</p>
            </div>
            <!-- 下单时间 -->
            <div class="row">
                <p class="col mod-no-padding">{{'orderDate'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.CreateTime}}</p>
            </div>
            <!-- 订单状态 -->
            <div class="row">
                <p class="col mod-no-padding">{{'orderStatus'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.Status|orderStatus}}</p>
            </div>
            <!-- 总价 -->
            <div class="row">
                <p class="col mod-no-padding">{{'totalPrice'|translate}}:</p>
                <p class="col mod-no-padding col-75">￥{{bookOrderInfo.roomOrder.Price | fenToYuan}}</p>
            </div>
        </div>
    </div>
    <div class="item item-divider"></div>
    <div ng-repeat="good in bookOrderInfo.GoodsList ">
        <!-- thumbnail -->
        <a class="item item-thumbnail-left mod-no-side-border">
            <!-- 客房图 -->
            <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{good.RoomBasicInfo.roomImg}});"></div>
            <!-- 客房名称 -->
            <h2>{{good.RoomBasicInfo.RoomTypeName}}</h2>
            <!-- 所属门店 -->
            <p>{{good.RoomBasicInfo.HotelBasicInfo.HotelName}}</p>
            <!--变价-->
            <p>{{good.ServicePriceInfo.Name}} {{good.ServicePriceInfo.Desc}}</p>
            <!-- 客房描述 -->
            <!-- <small>{{good.RoomBasicInfo.Description}}</small> -->
            <!--标签 <p>
                <span class="mod-tag" ng-repeat="feature in bookOrderInfo.roomOrder.roomFeatures">
                    <i class="icon {{feature.icon}}"></i>
                </span>
            </p> -->
        </a>
        <div class="item">
            <div class="row">
                <!--入住时间-->
                <p class="col mod-no-padding">{{'checkInDate'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{good.BookStartDate | date:'yyyy.MM.dd'}}~{{good.BookEndDate|date:'yyyy.MM.dd'}}&nbsp·&nbsp{{'total'|translate}}{{bookOrderInfo.countDay(good.BookStartDate,good.BookEndDate)}}{{'days'|translate}}</p>
            </div>
            <!-- 房间数量 -->
            <div class="row">
                <p class="col mod-no-padding">{{'roomQuantity'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{good.GoodsNum}}</p>
            </div>
            <!-- 联系人 -->
            <div class="row">
                <p class="col mod-no-padding">{{'contackName'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.ContactorName}}</p>
            </div>
            <!-- 手机号 -->
            <div class="row">
                <p class="col mod-no-padding">{{'phoneNumber'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.ContactorPhone}}</p>
            </div>
            <!-- 备注 -->
            <div class="row">
                <p class="col mod-no-padding">备注:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.Comment}}</p>
            </div>
            <!-- 
            <div class="row">
                <p class="col mod-no-padding">退改说明:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.room.changeDeal}}</p>
            </div> -->
        </div>
    </div>
    <div class="item item-divider" style="{{!bookOrderInfo.showPayBtn ? 'height: calc(100vh - 433px); ':'' }}">
        <!-- 我要选房按钮 -->
        <!-- <a class="button button-block button-positive" href="./pages/selRoom.html" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool" ng-show="bookOrderInfo.showCancelBtn">我要选房</a> -->
        <!-- 支付按钮 -->
        <a class="button button-block button-balanced" ng-click="bookOrderInfo.payNow()" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool" ng-show="bookOrderInfo.showPayBtn">{{'payNow'|translate}}</a>
        <!-- 继续预订按钮 -->
        <a class="button button-block button-positive" ui-sref="bookHotelList" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool">{{'goOnBooking'|translate}}</a>
        <!-- 取消订单按钮 -->
        <a class="button button-block button-light" ng-click="bookOrderInfo.cancelOrder(bookOrderInfo.roomOrder.Status)" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool" ng-show="bookOrderInfo.showCancelBtn">{{'cancelOrder'|translate}}</a>
        
        <!-- 补色 -->
        <!-- <div class="item item-divider mod-last mod-no-border-top" ng-show="!bookOrderInfo.showPayBtn" style="height: calc(100vh - 574px)"></div> -->
        <!-- <div class="item item-divider mod-last mod-no-border-top" ng-show="!bookOrderInfo.showPayBtn || !bookOrderInfo.showCancelBtn" style="height: calc(100vh - 568px)"></div> -->

    </div>
</div>
