<div ng-controller="bookInfoController as bookInfo" ng-init="bookInfo.init()">
    bookInfo
    <a ui-sref="bookResult">支付返回页面</a><br/>
    支付状态{{bookInfo.room.paymentStatus}} <br/>

    <img ng-src="{{bookInfo.room.roomImgSrc}}">
    {{bookInfo.hotel.hotelName}}<br/>
    {{bookInfo.room.roomName}}<br/>
    <span ng-repeat="feature in bookInfo.room.roomFeatures">{{feature.name}}{{feature.icon}}</span><br/>
    

    订单：
    {{bookInfo.roomOrder.orderId}} <br/>
    {{bookInfo.roomOrder.dealTime | date}}<br>
    {{bookInfo.roomOrder.orderTotalPri | currency}} <br/>

    {{bookInfo.hotel.bookStartDate | date}}--{{bookInfo.hotel.bookStartDate|date}}{天数}<br/>
    
    联系信息：
    {{bookInfo.roomOrder.contactName}} <br/>
    {{bookInfo.roomOrder.mobile}} <br/>
    {{bookInfo.room.paymentMethod}} <br/>
    支付状态：{{bookInfo.room.paymentStatus}} <br/>
    <button ng-click="">确认支付</button>
</div>    
