<ion-content ng-controller="bookHotelListController as bhl" ng-init="bhl.init()">
    bookHotelList 
    <a ng-click="root.showMainMenu(true)">menu</a>
    <a ng-click="bhl.showDP(true); tdp.init(bhl.checkin, bhl.checkout,null , null, bhl.doAfterPickDates);">{{bhl.checkin | date:'yyyy-MM-dd'}}至{{bhl.checkout | date:'yyyy-MM-dd'}}</a>
    <a ng-click="bhl.showCP(true); cp.init(bhl.cityLists, bhl.doAfterPickCity)">{{bhl.cityInfo.name}}</a>
    
    <br />{{bhl.projectInfo.hotelName}}<br />
    <img ng-src="{{bhl.projectInfo.hotelPicSrc}}"> <br />
    <!-- date picker start-->
    <div class="ab-container" ng-show="bhl.datePickerShow">
        <div class="bar bar-header">
            <button class="button button-clear button-positive" ng-click="bhl.showDP(false)">back</button>
        </div>
        <travel-date-picker></travel-date-picker>
    </div>
    <!-- date picker start-->

    <!-- city picker start-->
    <div class="ab-container" ng-show="bhl.cityPickerShow">
        <div class="bar bar-header">
            <button class="button button-clear button-positive" ng-click="bhl.showCP(false)">back</button>
        </div>
        <city-picker></city-picker>
    </div>
    <!-- city picker end-->
    
    
    
    <!-- 列表 -->
   
   
    <ion-list>
      <ion-item ng-repeat="hotel in bhl.hotels" ui-sref="bookRoomList({hotelId:hotel.hotelId})">
        {{hotel.hotelAddress}}<br />
        <img ng-src="{{hotel.hotelImgSrc}}"> <br />
        {{hotel.hotelAveragePri}}<br />
        酒店标签：<span ng-repeat="feature in hotel.features">{{feature.name}}{{feature.icon}}</span>
      </ion-item>
    </ion-list>   
</ion-content>    
