<div ng-controller="bookRoomListController as brl" ng-init="brl.init()">

    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{brl.hotel.hotelName}}</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>

    <!-- 内容 -->
    <div class="padding mod-has-header" delegate-handle="mainScroll">
        
        <!-- 轮播 -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="mod-doodle">
            <ion-slide ng-repeat="room in brl.rooms.lists">
               <img ng-src="{{room.roomImgSrc}}">
            </ion-slide>
        </ion-slide-box>
        <div class="mod-split-line mod-thin mod-break-padding" style="margin-top: 10px;"></div>
        
        <!-- info -->
        <div class="list mod-inset-forms">
            <a class="item" ui-sref="hotelInfo">
                <span class="mod-tag" ng-repeat="feature in brl.hotel.hotelFeatures">
                    <i class="icon mod-icon {{feature.icon}}"></i>
                    {{feature.name}}
                </span>
                <span class="item-note">
                    详情
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </a>
            <a class="item" href="{{brl.locationHref}}">
                <i class="icon ion-ios-location-outline"></i>
                上海市· 浦东新区· 祖冲之路2277弄
                <span class="item-note">
                    地图
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </a>
            <div class="mod-split-line mod-break-padding"></div>
        
        <!-- 查询 -->
      
        <!-- <div class="list padding mod-inset-forms"> -->
            
            <div class="item item-input item-stacked-label mod-no-ativated" ng-click="brl.showDP(true); tdp.init(brl.checkIn, brl.checkOut,null , null, brl.doAfterPickDates);">
                <span class="input-label">日期</span>
                <p class="mod-select-input mod-color-theme">{{brl.checkIn | date:'MM月dd日'}}入住 > {{brl.checkOut | date:'MM月dd日'}}离店&nbsp·&nbsp共{{brl.stayDays}}天</p> 
            </div>
            <div class="mod-split-line mod-break-padding"></div>
        </div>
        

        <!-- 客房列表 -->
        <div class="list mod-inset-forms">
            <a class="item item-thumbnail-left mod-no-side-border" ng-repeat="room in brl.rooms.lists" ui-sref="roomInfo({roomId:room.roomId,hotelId:brl.hotelId,checkIn:brl.checkIn,checkOut:brl.checkOut})">
                <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{room.roomImgSrc}});"></div>
                <h2>{{room.roomName}}</h2>
                <h2 class="mod-member-price">￥{{room.roomAveragePri}}</h2>
                <span class="item-note" >
                    <span ng-show="room.roomRemain==0">已定完</span> 
                    <span ng-show="!(room.roomRemain==0)">预订</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
                <br>
                <span  class="mod-tag" ng-repeat="feature in room.roomFeatures">
                    <i class="icon {{feature.icon}}"></i>
                </span>  
            </a>
        </div>
        <!-- date picker start-->
        <div class="ab-container" ng-show="brl.datePickerShow">
            <div class="bar bar-header">
                <button class="button button-clear button-positive" ng-click="brl.showDP(false)">back</button>
            </div>
            <travel-date-picker></travel-date-picker>
        </div>
        <!-- date picker start-->

       
    </div>
</div>
