<div ng-controller="bookRoomListController as brl" ng-init="brl.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{brl.hotel.Name}}</h1>
        <!-- <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button> -->
    </div>
    <!-- 内容 -->
    <div class="padding mod-has-header">
        <!-- 轮播 -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="mod-doodle">
            <ion-slide ng-repeat="img in brl.hotel.Gallery">
                <img style="width: 100%; height: 100%;" ng-src="{{img.ImageURL}}">
                <!-- 全景 -->
                <a ng-if="brl.hotel.ViewURL" ng-href="{{brl.hotel.ViewURL}}" style="text-decoration: none;" >
                    <h1 class="ricepaper" style=" position: absolute; bottom: 6px; right: 20px; height: 24px; font-weight: 400; line-height: 24px; padding: 0px 10px; color: rgba(0,0,0,.7); text-align: center; font-size: 14px; border-radius: 100px">
                        360°全景
                        <i class="icon ion-ios-arrow-forward"></i>
                    </h1>
                </a>
                <!-- 全景 -->
            </ion-slide>
        </ion-slide-box>
        <div class="mod-split-line mod-thin mod-break-padding" style="margin-top: 10px;"></div>
        <!-- info -->
        <div class="list mod-inset-forms">
            <!-- 酒店地址 -->
            <a class="item wx-touch-hack" ng-click="brl.map()">
                <i class="icon ion-ios-location"></i> {{brl.hotel.Address}}
                <span class="item-note">
                    {{'map'|translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </a>
            <!-- 酒店标签 详情按钮-->
            <a class="item wx-touch-hack" ui-sref="hotelInfo({hotelId:brl.hotelId})">

                <span class="mod-tag-bar" >
                    <i ng-repeat="feature in brl.hotel.Features track by $index" ng-if="$index <= 5" class="mod-tag-bar-item icon {{feature.ImageURL}} mod-icon "></i>
                    <!-- {{feature.Name}} -->
                </span>

                <span class="item-note">
                    {{'detail'|translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </a>
            <div class="mod-split-line mod-break-padding"></div>
            <!-- 查询 -->
            <!-- <div class="list padding mod-inset-forms"> -->
            <div class="item item-input item-stacked-label mod-no-ativated" ng-click="brl.showDP(true); tdp.init(brl.checkIn, brl.checkOut,null , null, brl.doAfterPickDates);">
                <span class="input-label">{{'date'|translate}}</span>
                <p class="mod-select-input mod-color-theme">{{brl.checkIn | date:'M.d'}}{{'checkIn'|translate}} > {{brl.checkOut | date:'M.d'}}{{'checkOut'|translate}}&nbsp&nbsp{{'total'|translate}}{{brl.stayDays}}{{'night'|translate}}</p>
            </div>
            <div class="mod-split-line mod-break-padding"></div>
        </div>
        <!-- 客房列表 -->
        <div class="list mod-inset-forms">


            <!-- 客房 -->
            <div class="item item-thumbnail-left" ng-repeat="room in brl.rooms track by $index" ng-click="(room.PriceInfo.ServicePrice && room.PriceInfo.ServicePrice.length !== 0) ? brl.openOrClose($index) : brl.nextState(room.ID,brl.checkIn,brl.checkOut,room.AvailableNumList, -1)">

                <!-- 封面图 -->
                <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{img.ImageURL}});" ng-repeat="img in room.Gallery track by $index" ng-if="$index==0" ></div>
                

                <!-- 客房名称-->
                <h2 class="mod-room-title">{{room.RoomTypeName}}</h2>
                
                <!-- 价格 -->
                <h2 class="mod-room-price" >

                    &nbsp·&nbsp￥{{room.PriceInfo.AvaragePrice  |  fenToYuan}}
                    <!-- 订完 --> 
                    <small ng-if="!brl.roomCheckAvail(room.AvailableNumList,'availableNum')" style="color: initial;">
                        已订完
                    </small>
                    <!-- 订完 -->
                </h2>

                
                <!-- 客房描述 -->
                <p>{{room.Description}}</p>
                <!-- 标签 -->
                <p class="mod-price-tag mod-theme-wx-outline">{{'wxMemberPrice'|translate}}</p>

                <!-- 展开收起按钮 -->
                <div ng-if="room.PriceInfo.ServicePrice && room.PriceInfo.ServicePrice.length > 0" style="position: absolute; right: 6px; top: 76px;">
                    <i class="icon ion-ios-arrow-{{room.isOpen ? 'up' : 'down'}} mod-icon-sm"></i>
                </div>

                <!-- 变价列表 -->
                <ul ng-if="room.PriceInfo.ServicePrice && room.PriceInfo.ServicePrice.length > 0 && room.isOpen" class="list mod-list mod-inset-forms" style="position: relative; top: 12px; margin-right: -8px; margin-left: -121px; margin-top: 15px; border-top: solid 1px #ddd">
                    <li ng-repeat="addPrice in room.PriceInfo.ServicePrice" ng-click="brl.nextState(room.ID,brl.checkIn,brl.checkOut,room.AvailableNumList, addPrice.ID); $event.stopPropagation();" class="item mod-more-price">
                        <h2>{{addPrice.Name}}</h2>
                        <p>{{addPrice.Desc}}</p>
                        <div class="item-note">
                            <h2 style="display: inline-block; color: #ef473a; margin-top: 4px;">￥{{addPrice.Price/100}}</h2>

                            <!-- 变价预定按钮 -->
                            <button class="button button-assertive button-small" ng-if="brl.roomCheckAvail(room.AvailableNumList,'availableNum')" style="display: inline-block;">
                                &nbsp预定
                                <i class="icon ion-ios-arrow-right"></i>
                                &nbsp
                            </button>
                            <!-- 变价已定完示意 -->
                            <button class="button button-stable button-small" ng-if="!brl.roomCheckAvail(room.AvailableNumList,'availableNum')" style="display: inline-block;">&nbsp已定完&nbsp</button>


                        </div>
                    </li>
                </ul>
                <!-- 变价列表 -->

            </div>
            <!-- 客房 end -->


        </div>
        <p ng-show="brl.showLoadingBool.searchRoomListBool ==true && brl.rooms.length == 0">{{'noResults'|translate}}</p>
        <!-- date picker start-->
        <div class="ab-container" ng-show="brl.datePickerShow">
            <div class="bar bar-header">
                <button class="button button-clear button-positive" ng-click="brl.showDP(false)">{{'back'|translate}}</button>
            </div>
            <travel-date-picker></travel-date-picker>
        </div>
        <!-- date picker start-->
    </div>
</div>