<div ng-controller="bookOrderInfoController as bookOrderInfo" ng-init="bookOrderInfo.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{'orderDetail'|translate}}</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>
    <div class=" mod-has-header">
        <div class="item mod-no-border-top">
            <div class="row">
                <p class="col mod-no-padding">{{'orderID'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.ID}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'orderDate'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.CreateTime }}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'totalPrice'|translate}}:</p>
                <p class="col mod-no-padding col-75">￥{{bookOrderInfo.roomOrder.Price | fenToYuan}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'payMethod'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.PayType }}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'orderStatus'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.Status|orderStatusToChinese}}</p>
            </div>
        </div>
    </div>
    <div class="item item-divider"></div>
    <div ng-repeat="good in bookOrderInfo.GoodsList ">
        <a class="item item-thumbnail-left mod-no-side-border">
            <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{good.RoomBasicInfo.roomImg}});"></div>
            <h2>{{good.RoomBasicInfo.RoomTypeName}}</h2>
            <p>{{good.RoomBasicInfo.HotelBasicInfo.HotelName}}</p>
            <p>{{good.RoomBasicInfo.Description}}</p>
            <p>
                <span class="mod-tag" ng-repeat="feature in bookOrderInfo.roomOrder.roomFeatures">
                    <i class="icon {{feature.icon}}"></i>
                </span>
            </p>
        </a>
        <div class="item">
            <div class="row">
                <p class="col mod-no-padding">入住时间:</p>
                <p class="col mod-no-padding col-75">{{good.BookStartDate | date:'yyyy年MM月dd日'}}~{{good.BookEndDate|date:'yyyy年MM月dd日'}}&nbsp·&nbsp共{{bookOrderInfo.countDay(good.BookStartDate,good.BookEndDate)}}天</p>
            </div>
            
            <div class="row">
                <p class="col mod-no-padding">{{'roomQuantity'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{good.GoodsNum}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'contactName'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.ContactorName}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'phoneNumber'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.roomOrder.ContactorPhone}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">退改协议:</p>
                <p class="col mod-no-padding col-75">{{bookOrderInfo.room.changeDeal}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">简介:</p>
                <p class="col mod-no-padding col-75">{{good.RoomBasicInfo.Description}}</p>
            </div>
        </div>
    </div>
    <div class="item item-divider"></div>
    <div class="item item-divider">
        <a class="button button-block button-balanced" ng-click="bookOrderInfo.payNow()" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool" ng-show="bookOrderInfo.showPayBtn">{{'payNow'|translate}}</a>
        <a class="button button-block button-positive" ui-sref="bookHotelList" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool">{{'goOnBooking'|translate}}</a>
        <a class="button button-block button-positive" ng-click="bookOrderInfo.cancelOrder(bookOrderInfo.roomOrder.Status)" ng-disabled="bookOrderInfo.cancelOrderBool || bookOrderInfo.payNowBool" ng-show="bookOrderInfo.showCancelBtn">取消订单</a>
    </div>
</div>
