<div ng-controller="hotelInfoController as hotelInfo" ng-init="hotelInfo.beforeInit()">
	<div class="bar bar-header mod-fixed bar-light">
	<button class="button button-icon"><small class="positive">继续预订</small></button>
    </div>
    <div class="atc-content mod-has-header">
        <img class="atc-img atc-col4 atc-spacing" src="api/img/hotel-logo.png" ;>
        <h5 class="atc-chapter-title atc-col6 atc-spacing">酒店设施</h5>

        <div class="atc-col6 atc-grid atc-grid4">

            <!-- <div class="atc-grid-item" ng-repeat="feature in hotelInfo.hotel.Features">
	    		<i class="icon mod-icon {{feature.ImageURL}}"></i>
	    		<p>{{feature.Name}}</p>
			</div> -->

			<!-- 测试用 -->
			<div class="atc-grid-item" ng-repeat="feature in hotelInfo.hotel.Features">
	    		<i class="icon mod-icon {{feature.ImageURL}}"></i>
	    		<p>{{feature.Name}}</p>
			</div><div class="atc-grid-item" ng-repeat="feature in hotelInfo.hotel.Features">
	    		<i class="icon mod-icon {{feature.ImageURL}}"></i>
	    		<p>{{feature.Name}}</p>
			</div><div class="atc-grid-item" ng-repeat="feature in hotelInfo.hotel.Features">
	    		<i class="icon mod-icon {{feature.ImageURL}}"></i>
	    		<p>{{feature.Name}}</p>
			</div>
			<!-- 测试用 -->
			

        </div>
        <h5 class="atc-chapter-title atc-col6 atc-spacing">介绍</h5>
        <div class="atc-col6">

            {{hotelInfo.hotel.Description}}
        </div>
    </div>
    
    <style type="text/css">
    /*atc == article*/
    /*layout*/
    .atc-content>h1,
    .atc-content>h2,
    .atc-content>h3,
    .atc-content>h4,
    .atc-content>h5,
    .atc-content>h6 {
        color: #444 !important;
    }
    
    .atc-content {
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #444;
    }
    
    .atc-content>img,
    .atc-content>h1,
    .atc-content>h2,
    .atc-content>h3,
    .atc-content>h4,
    .atc-content>h5,
    .atc-content>h6,
    .atc-content>div {
        flex: 1;
        margin: auto;
    }
    
    
    .atc-col4 {
        width: 33.33%
    }
    
    .atc-col4.atc-1x1 {
        padding-bottom: 33.33%;
    }
    
    .atc-col6 {
        width: 66.67%
    }
    


    /*grid*/
    .atc-grid{
    }

    .atc-grid4>.atc-grid-item{
    	min-width: 24.5%
    }

	.atc-grid-item{
		text-align: center;
		display: inline-block;
		padding-top: 3px;
		padding-bottom: 5px;
	}




	/*component*/
    .atc-spacing {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .atc-img {
        position: relative;
        background-size: cover;
        background-position: center center;
    }
    .atc-chapter-title {
        position: relative;
        text-align: center;
    }
    
    .atc-chapter-title:before {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: solid 0.5px rgba(0, 0, 0, .22)
    }
    .atc-spacing.atc-chapter-title:before {
        bottom: 15px;
    }
	.atc-grid-item>i{
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		margin-bottom: 3px !important;
		padding: 0 !important
	}
    </style>
</div>
