<div ng-controller="hotelInfoController as hotelInfo" ng-init="hotelInfo.beforeInit()">
	<div class="atc-content mod-has-header">
        <img class="atc-img atc-col8 atc-spacing" src="{{hotelInfo.hotel.LogoURL}}" ;>
        <h5 class="atc-chapter-title atc-col8 atc-spacing">{{'hotelFacilities'|translate}}</h5>

        <div class="atc-col8 atc-grid atc-grid4">
            <div class="atc-grid-item" ng-repeat="feature in hotelInfo.hotel.Features">
	    		<i class="icon mod-icon {{feature.ImageURL}}"></i>
	    		<p>{{feature.Name}}</p>
			</div>
			

        </div>
        <h5 class="atc-chapter-title atc-col8 atc-spacing">{{'introduction'|translate}}</h5>
        <div class="atc-col8">

            <ng-repeat ng-repeat="desc in hotelInfo.hotel.Description">
              <ng-repeat ng-repeat="frag in desc track by $index">
                {{frag}}&nbsp;
              </ng-repeat>
            <br>
            </ng-repeat>
        </div>
    </div>
</div>
