<div class="padding" ng-controller="memberInfoEditController as mie" ng-init="mie.beforeInit()">
    
    <div class="list padding">
    <!--会员资料-->
    <h3 class="mod-font-light mod-text-indent">{{'memberInfo'|translate}}</h3>
        <form novalidate class="mod-inset-forms" name="editMemberInfo" ng-submit=" editMemberInfo.$valid && mie.updataMemberInfo()">
            <label class="item item-input">
                <!--真实姓名-->
                <span class="input-label">{{'realName'|translate}}:</span>
                <input type="text" ng-model="mie.member.realName" name="name" required>
            </label>
            <label class="item item-input">
                <!--证件号码-->
                <span class="input-label">{{'certificateNumber'|translate}}:</span>
                <input type="text" ng-model="mie.member.idCardNumber" required >
            </label>
            <label class="item item-input">
                <!--手机号码-->
                <span class="input-label">{{'phoneNumber'|translate}}:</span>
                <input type="number" ng-model="mie.member.mobile" required >
            </label>
            <!-- <button ng-click="mie.getAuthCode()" ng-disabled="mie.countAbility"><span ng-show="mie.showTip">免费获取验证码</span> <span ng-show="!mie.showTip">{{mie.countSeconds}}s 后重新发送</span></button>
        <label class="item item-input">
          <span class="input-label" ng-model="mie.authCode">验证码</span>
          <input type="number">
        </label> -->
            <!--保存-->
            <input type="submit" class="button button-block button-positive mod-margin-top-20"  value="{{'save'|translate}}" ng-disabled="editMemberInfo.$invalid || mie.updataMemberInfoBool"/>
        </form>
    </div>
    
</div>
