<div ng-controller="memberInfoEditController as mie" ng-init="mie.init()">
    <form novalidate class="simple-form" name="orderDetail">
        <label class="item item-input">
          <span class="input-label" ng-model="mie.member.realName">真实姓名:</span>
          <input type="number">
        </label>
        <label class="item item-input">
          <span class="input-label" ng-model="mie.member.idCardNumber">联系人姓名:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label" ng-model="mie.member.mobile">手机号:</span>
          <input type="number">
          
        </label>
        <button ng-click="mie.getAuthCode()">接收验证码</button>
        <label class="item item-input">
          <span class="input-label" ng-model="mie.authCode">验证码</span>
          <input type="number">
        </label>
         <button>保存</button>
    </form>
</div>
