<div ng-controller="memberHomeController as memberHome" ng-init="memberHome.beforeInit()">
    <!-- <div class="list padding mod-inset-forms mod-list mod-member-card {{memberHome.member.memberLevel.class}} mod-doodle"> -->
    <div class="list mod-list mod-member-card">

        <iframe class="mod-bg" src="api/img/card-gradient.html"></iframe>
        <div class="item item-avatar " style="border-bottom-width: 0.5px;">

            
            <img src="{{root.getParams('wxUserInfo').headimgurl}}" />
            <!-- <img src="api/img/avatar.jpg" /> -->
            
            <h2>{{root.getParams('wxUserInfo').nickname}}</h2>
            <!-- <h2>LH</h2> -->

            <p>{{memberHome.member.memberLevel.name}}</p>

            
        </div>
        <div class="mod-member-card-logo">
            <img src="api/img/hotel-card-logo.png" style="height: 100%; float: right;">
        </div>
        <div class="item" style="padding-top: 64px;">

            <h1 class="item-note" style="font-size: 36px;">
                &nbsp;
                <!-- {{memberHome.member.score}}
                <small>积分</small> -->
            </h1>
        </div>
    </div>



    <!-- <div class="item item-divider"></div> -->
    <div class="list padding mod-inset-forms">
        <div class="item item-icon-left item-icon-right" ui-sref="memberInfoEdit({memberId:memberHome.member.memberId})">
            <i class="icon svg icon-user"></i>
            <!--会员资料-->
            {{'memberInfo'|translate}}
            <i class="icon ion-ios-arrow-right mod-small"></i>
        </div>
        <div class="item item-icon-left item-icon-right" ui-sref="roomOrderList">
            <i class="icon svg icon-hotel" style="font-size: 28px;"></i>
            <!--酒店订单-->
            {{'hotelOrder'|translate}}
            <i class="icon ion-ios-arrow-right mod-small"></i>
            
        </div>
        <!--商城订单-->
        <!-- <div class="item item-icon-left item-icon-right" ui-sref="shopOrderList">
            <i class="icon ion-bag" style="font-size: 28px;"></i>
            
            {{'shopOrder'|translate}}
            <i class="icon ion-ios-arrow-right mod-small"></i>
            
        </div> -->
        <button ng-click="memberHome.addCard()" ng-disabled="memberHome.addingCards">领取优惠券</button>
        <button ng-click="memberHome.openCard()">查看领取卡券</button>
    </div>
</div>
