<div ng-controller="orderInfoController as orderInfo" ng-init="orderInfo.init()">
    orderInfo
    支付状态{{orderInfo.room.paymentStatus}} <br/>

    <img ng-src="{{orderInfo.room.roomImgSrc}}">
    {{orderInfo.hotel.hotelName}}<br/>
    {{orderInfo.room.roomName}}<br/>
    <span ng-repeat="feature in orderInfo.room.roomFeatures">{{feature.name}}{{feature.icon}}</span><br/>
    
    订单：
    {{orderInfo.roomOrder.orderId}} <br/>
    {{orderInfo.roomOrder.dealTime | date}}<br>
    {{orderInfo.roomOrder.orderTotalPri | currency}} <br/>

    {{orderInfo.hotel.orderStartDate | date}}{天数}<br/>
    
    联系信息：
    {{orderInfo.roomOrder.contactName}} <br/>
    {{orderInfo.roomOrder.mobile}} <br/>
    {{orderInfo.room.paymentMethod}} <br/>
    支付状态：{{orderInfo.room.paymentStatus}} <br/>
    <button ng-click="">去支付</button>
    <a ui-sref="bookHotelList">继续支付</a>
</div>    
