<div ng-controller="orderInfoController as orderInfo" ng-init="orderInfo.init()">
    orderInfo<br/>
    订单状态{{orderInfo.room.orderStatus}} <br/>

    <img ng-src="{{orderInfo.room.roomImgSrc}}">
    {{orderInfo.hotel.hotelName}}<br/>
    {{orderInfo.room.roomName}}<br/>
    <span ng-repeat="feature in orderInfo.room.roomFeatures">{{feature.name}}{{feature.icon}}</span><br/>
    
    订单：
    {{orderInfo.roomOrder.orderId}} <br/>
    成交时间：{{orderInfo.roomOrder.dealTime | date:'yyyy年MM月dd日H时m分'}}<br>
    {{orderInfo.roomOrder.orderTotalPri | currency}} <br/>

    住店时间：{{orderInfo.hotel.bookStartDate | date:'yyyy年MM月dd日'}}-离店时间：{{orderInfo.hotel.bookEndDate | date:'yyyy年MM月dd日'}} 共{{orderInfo.stayDays}}天<br/>
   
    
    联系信息：
    {{orderInfo.roomOrder.contactName}} <br/>
    {{orderInfo.roomOrder.mobile}} <br/>
    {{orderInfo.room.paymentMethod}} <br/>
    订单状态：{{orderInfo.room.orderStatus}} <br/>
    <button ng-click="">去支付</button>
    <a ui-sref="bookHotelList">继续支付</a>
</div>    
