<div ng-controller="presellController as presell" ng-init="presell.beforeInit()">
<!-- 
{{presell.productInfo.
    {{presell.shopInfo.
 -->

    <!-- 顶部分享提示 -->
    <div style="position: relative; display: block; padding:10px; padding-left: 30px; background: rgb(51,51,51); color:#fff; ">
        <i class="icon ion-speakerphone" style="position: absolute; top: 10px; left: 10px; color: rgb(255,60,30);"></i>
        <small style="padding: 0; margin: 0;">
            分享该产品，您的朋友
            <b style="color: rgb(255,60,30);">消费</b>
            成功后，您将获得
            <b style="color: rgb(255,60,30); font-size: 1.2em">￥{{presell.productInfo.commission}}元</b>
            现金奖励。次日发放至您的微信零钱包。
        </small>
    </div>

    
    <div class="padding">        

        <!-- 大标题 -->
        <h3>{{presell.productInfo.title}}</h3>

        <!-- 门店名称 -->
        <p style="color: rgb(36,104,190); margin: 0">{{presell.shopInfo.ShopName['zh-CN']}}</p>
    </div>

    <!-- 门店二维码 -->
    <div class="item item-divider item-thumbnail-left" style="padding-left: 97px !important; padding-top: 12px !important;">
        <img ng-src="{{presell.shopInfo.QrCodeURL}}" style="width: 120px;" />
        <h2>长按识别二维码关注公众号</h2>
        <p style="white-space: normal; text-overflow: initial;">
            可查看已购预售商品、提前进行消费预订、可获知最新会员优惠
        </p>
    </div>

    <!-- 主图 -->
    <img width="100%" ng-src="{{presell.productInfo.img}}" />
    
    <!-- 详情介绍 -->
    <div class="padding">
        <div class="list mod-inset-forms">
            <div class="item">
                <h2 style="font-size: 24px;">{{presell.productInfo.name}}</h2>  
            </div>
            <br>
            <p style="padding: 10px;" ng-bind-html="presell.productInfo.intro"></p>
        </div>
    </div>

    <!-- html图文 -->
    <div ng-bind-html="presell.productInfo.htmlIntro|unsafe"></div>
       
    <div class="item item-divider"></div>

    <!-- 多图 -->
    <div class="list" style="margin-bottom: -5px; padding-bottom: 0;">
        <div class="item">
            <h2 style="font-size: 24px;">产品图片</h2>
        </div>
        <div ng-repeat="img in presell.productInfo.imgSrc">
            <img width="100%" ng-src="{{img}}" />
        </div>
    </div>

    <div class="item item-divider"></div>

    <!-- 购买须知 -->
    <div class="padding">
        <div class="list mod-inset-forms">
            <div class="item">
                <h2 style="font-size: 24px;">购买须知</h2>
            </div>
            <p style="padding: 10px;">{{presell.productInfo.buyNotes}}</p>
        </div>
    </div>
    <div class="item item-divider"></div>


    <!-- 联系我们 -->
    <div class="padding">
        <div class="list mod-inset-forms">
            <div class="item">
                <h2 style="font-size: 24px;">联系我们</h2>
            </div>
            <div class="padding">
                <h4>
                    {{presell.shopInfo.ContactName}}
                </h4>
                <p>酒店地址：{{presell.shopInfo.ContactAdress}}
                    <!-- <br>联系电话： -->
                    <!-- <a ng-href="tel:{{presell.shopInfo.ContactTelephone}}">icon-left ion-ios-telephone{{presell.shopInfo.ContactTelephone}}</a> -->
                </p>
                <a ng-href="tel:{{presell.shopInfo.ContactTelephone}}" class="button  button-positive button-full">
                    联系电话：{{presell.shopInfo.ContactTelephone}}
                </a>
            </div>
            <div class="item item-thumbnail-left" style="padding-left: 97px !important; padding-top: 12px !important;">
                <img ng-src="{{presell.shopInfo.QrCodeURL}}" style="width: 120px;" />
                <h2>长按识别二维码关注公众号</h2>
                <p style="white-space: normal; text-overflow: initial;">
                    可查看已购预售商品、提前进行消费预订、可获知最新会员优惠
                </p>
            </div>
        </div>
    </div>

    <!-- 开抢倒计时 -->
    <div ng-show="!presell.soldout && presell.leftSaleStartTime > 0" style="position: fixed; bottom: 44px; width: 100%; height: 31px; padding: 5px 10px; background: rgba(11,11,11,.8); color:#fff; z-index: 100; text-align: center;">
        <small>离开抢还剩{{presell.leftSaleStartTime | timeToDHMS}}</small>
    </div>

    <!-- 结束倒计时 -->
    <div ng-show="!presell.soldout && presell.leftSaleStartTime <= 0" style="position: fixed; bottom: 44px; width: 100%; height: 31px; padding: 5px 10px; background: rgba(11,11,11,.8); color:#fff; z-index: 100; text-align: center;">
        <small>离抢购结束时间还剩{{presell.leftSaleEndTime | timeToDHMS}}</small>
    </div>

    <!-- 底栏 下单购买按钮 -->
    <div class="button-bar bar-footer mod-fixed mod-fixed-bottom " style=" background: #fff;">
        <p ng-show="!presell.soldout && presell.leftSaleStartTime <= 0"  style="text-decoration: line-through; flex-grow: 0.5; padding: 10px; padding-top: 13px;">
            门市价:&nbsp;{{presell.productInfo.pricePub}}元
        </p>
        <button class="button button-energized" style="color:rgb(51,51,21);" ng-show="!presell.soldout && presell.leftSaleStartTime > 0">
            <span style="text-decoration: line-through;">门市价:&nbsp;{{presell.productInfo.pricePub}}元</span>
            &nbsp;<b>抢购价：￥{{presell.productInfo.pricePub}}</b>
        </button>
        <button class="button button-assertive"  ng-show="!presell.soldout && presell.leftSaleStartTime <= 0" id="payBtn" ng-click="presell.submitOrder()">
            ￥{{presell.productInfo.pricePub}}&nbsp;
            立即抢购
        </button>
        <button class="button"  ng-show="presell.soldout">
            <!-- ￥{{presell.productInfo.pricePub}}&nbsp; -->
            已下架
        </button>
    </div>





    <!-- 弹窗 -->
        已经支付？{{presell.paid}}
    <div class="atc-content mod-has-header">
        


        <!-- 订单 -->

        库存{{presell.productInfo.invetory}}
        手机号：<input type="number" ng-model="presell.phoneNumber">
        数量：<input type="number" ng-model="presell.goodsCount">



        <!-- 下单按钮

        presell.soldout: {{presell.soldout}}
        presell.leftSaleStartTime: {{presell.leftSaleStartTime}}
        presell.leftSaleEndTime: {{presell.leftSaleEndTime}}
         -->
    </div>


</div>
