<div ng-controller="presellController as presell" ng-init="presell.beforeInit()">
<!-- 
{{presell.productInfo.
    {{presell.shopInfo.
 -->

    <!-- 顶部分享提示 -->
    <div style="position: relative; display: block; padding:10px; padding-left: 30px; background: rgb(51,51,51); color:#fff; ">
        <i class="icon ion-speakerphone" style="position: absolute; top: 10px; left: 10px; color: rgb(255,60,30);"></i>
        <small style="padding: 0; margin: 0;">
            分享该产品，您的朋友
            <b style="color: rgb(255,60,30);">下单</b>
            成功后，您将获得
            <b style="color: rgb(255,60,30); font-size: 1.2em">￥{{presell.productInfo.commission-0 | fenToYuan}}元</b>
            现金奖励，1天内发放至微信零钱包。订单越多，奖励越多。
        </small>
    </div>

    
    <div class="padding">        

        <!-- 大标题 -->
        <h3>{{presell.productInfo.title}}</h3>

        <!-- 门店名称 -->
        <p ng-init="presell.showShopInfo=0" ng-click="presell.showShopInfo=(presell.showShopInfo==0)? 1 : 0" style="color: rgb(36,104,190); margin: 0">{{presell.shopInfo.ContactName}}</p>
    </div>

    <!-- 门店二维码 -->
    <div ng-show="presell.showShopInfo==1" class="item item-divider item-thumbnail-left" style="padding-left: 97px !important; padding-top: 12px !important;">
        <img ng-src="{{presell.shopInfo.QrCodeURL}}" style="width: 120px;" />
        <h2>长按识别二维码关注公众号</h2>
        <p style="white-space: normal; text-overflow: initial;">
            可查订单、预约消费、获得最新会员优惠
        </p>
    </div>

    <!-- 主图 -->
    <img width="100%" ng-src="{{presell.productInfo.img}}" />
    
    <!-- 详情介绍 -->
    <div class="padding">
        <div class="list mod-inset-forms">
            <div class="item">
                <h2 style="font-size: 24px;">{{presell.productInfo.name}}</h2>  
            </div>
            <br>
            <p ng-show="presell.productInfo.intro != ''" style="padding: 10px;" ng-bind-html="presell.productInfo.intro"></p>
        </div>
    </div>

    <!-- html图文 -->
    <div ng-bind-html="presell.productInfo.htmlIntro|unsafe"></div>
       
    <ng-show ng-show="presell.productInfo.imgSrc.length > 0">
        <div class="item item-divider"></div>

        <!-- 多图 -->
        <div class="list" style="margin-bottom: -5px; padding-bottom: 0;">
            <div class="item">
                <h2 style="font-size: 24px;">产品图片</h2>
            </div>
            <div ng-repeat="img in presell.productInfo.imgSrc track by $index">
                <img ng-show="$index==0 || $index==1 || presell.showallimg==1" width="100%" ng-src="{{img}}" />
            </div>
            <div class="padding" ng-show="presell.showallimg!=1">
                <button class="button button-outline button-full button-positive" ng-click="presell.showallimg=1">查看更多图片</button>
            </div>
        </div>
    </ng-show>

    <div class="item item-divider"></div>

    <!-- 购买须知 -->
    <div class="padding">
        <div class="list mod-inset-forms">
            <div class="item">
                <h2 style="font-size: 24px;">购买须知</h2>
            </div>
            
            <h5 style="color: rgb(255,60,30);">有效期</h5>
            <p style="padding: 10px;  padding-top: 0px;">
                {{presell.productInfo.useStartDate.slice(0,10)}}-{{presell.productInfo.useEndDate.slice(0,10)}}
            </p>
            <ng-show ng-show="presell.productInfo.buyNotes != ''">
                <h5 style="color: rgb(255,60,30);">购买规则</h5>
                <p ng-bind-html="presell.productInfo.buyNotes" style="padding: 10px;  padding-top: 0px;"></p>
            </ng-show>
            <ng-show ng-show="presell.productInfo.useNotes != ''">
                <h5 style="color: rgb(255,60,30);">使用规则</h5>
                <p ng-bind-html="presell.productInfo.useNotes" style="padding: 10px;  padding-top: 0px;"></p>
            </ng-show>
            <ng-show ng-show="presell.productInfo.warmNotes != ''">
                <h5 style="color: rgb(255,60,30);">温馨提示</h5>
                <p ng-bind-html="presell.productInfo.warmNotes" style="padding: 10px;  padding-top: 0px;"></p>
            </ng-show>
        </div>
    </div>
    <div class="item item-divider"></div>


    <!-- 联系我们 -->
    <div class="padding" style="padding-bottom: 0;">
        <div class="list mod-inset-forms">
            <div class="item">
                <h2 style="font-size: 24px;">联系我们</h2>
            </div>
            <div class="padding">
                <h4>
                    {{presell.shopInfo.ContactName}}
                </h4>
                <p style="line-height: 1.6">酒店地址：
                    <a ng-click="presell.map()" ><i class="icon ion-ios-location" style="color: rgb(36,104,190); font-size: 22px;"></i>{{presell.shopInfo.ContactAdress}} </a>
                    <br>联系电话：
                    <a style="text-decoration: none" ng-href="tel:{{presell.shopInfo.ContactTelephone}}">
                        <i class="icon ion-ios-telephone" style="color: rgb(36,104,190); font-size: 22px;"></i>
                        {{presell.shopInfo.ContactTelephone}}
                    </a>
                </p>
            </div>
            <div class="item item-thumbnail-left" style="padding-left: 97px !important; padding-top: 12px !important;">
                <img ng-src="{{presell.shopInfo.QrCodeURL}}" style="width: 120px;" />
                <h2>长按识别二维码关注公众号</h2>
                <p style="white-space: normal; text-overflow: initial;">
                    可查看已购预售商品、提前进行消费预订、可获知最新会员优惠
                </p>
            </div>
        </div>


    </div>

    <!-- 底部支持信息 -->
    <div class="item item-divider">
        <p style="text-align: center; padding-top: 10px; padding-bottom: 80px;">由清鹤科技提供技术支持</p>
    </div>

    <!-- 开抢倒计时 -->
    <div ng-show="!presell.soldout && presell.leftSaleStartTime > 0" style="position: fixed; bottom: 44px; width: 100%; height: 31px; padding: 5px 10px; background: rgba(11,11,11,.8); color:#fff; z-index: 100; text-align: center;">
        <small>库存{{presell.productInfo.invetory}}件&nbsp;离开抢还剩{{presell.leftSaleStartTime | timeToDHMS}}</small>
    </div>

    <!-- 结束倒计时 -->
    <div ng-show="!presell.soldout && presell.leftSaleStartTime <= 0" style="position: fixed; bottom: 44px; width: 100%; height: 31px; padding: 5px 10px; background: rgba(11,11,11,.8); color:#fff; z-index: 100; text-align: center;">
        <small>剩余{{presell.productInfo.invetory}}件&nbsp;离抢购结束时间还剩{{presell.leftSaleEndTime | timeToDHMS}}</small>
    </div>

    <!-- 已经支付关注提示 -->
    <div ng-show="presell.paid" style="position: fixed; top: 0px; width: 100%; height: 100%; padding:10px; padding-top: 25%; background: rgba(21,21,21,.96); color:#fff; z-index: 100; text-align: center;">
        
        <h3 style="color: #fff">
            <i class="icon ion-heart" style="color: rgb(255,60,30)"></i>&nbsp;
            您已购买此商品
        </h3>
        <p>查看订单请长按二维码关注公众号</p>
        <br>
        <img ng-src="{{presell.shopInfo.QrCodeURL}}" style="width: 180px; border-radius: 3px; margin-bottom: 2rem;" />
        <button class="button button-outline button-light" style="width: 180px;">知道了</button>
    </div>


    <!-- 底栏 下单购买按钮 -->
    <div class="button-bar bar-footer mod-fixed mod-fixed-bottom " style=" background: #fff;">
        <p ng-show="!presell.soldout && presell.leftSaleStartTime <= 0"  style="text-decoration: line-through; flex-grow: 0.5; padding: 10px; padding-top: 13px;">
            门市价:&nbsp;{{presell.productInfo.pricePub-0|fenToYuan}}元
        </p>
        <button class="button button-energized" style="color:rgb(51,51,21);" ng-show="!presell.soldout && presell.leftSaleStartTime > 0">
            <span style="text-decoration: line-through;">门市价:&nbsp;{{presell.productInfo.pricePub-0|fenToYuan}}元</span>
            &nbsp;<b>抢购价：￥{{presell.productInfo.price-0|fenToYuan}}</b>
        </button>
        <button class="button button-assertive"  ng-show="!presell.soldout && presell.leftSaleStartTime <= 0" id="payBtn" ng-click="presell.submitOrder()">
            ￥{{presell.productInfo.price-0|fenToYuan}}&nbsp;
            立即抢购
        </button>
        <button class="button"  ng-show="presell.soldout">
            <!-- ￥{{presell.productInfo.pricePub-0|fenToYuan}}&nbsp; -->
            已下架
        </button>
    </div>


</div>
