<div ng-controller="roomInfoController as roomInfo" ng-init="roomInfo.init()">


    <!-- 头部 -->
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{roomInfo.room.roomName}}</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>
    
    <!-- 内容 -->
    <div class="padding mod-has-header">
        <!-- 轮播 -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="mod-doodle">
            <ion-slide ng-repeat="room in roomInfo.room.roomImgGallery">
               <img ng-src="{{room.imgSrc}}">  
            </ion-slide>
        </ion-slide-box>
        <div class="mod-split-line mod-thin mod-break-padding" style="margin-top: 10px;"></div>
        
        <!-- info -->
        <div class="list padding mod-inset-forms">
            <a class="item">
                <span ng-repeat="feature in roomInfo.room.roomFeatures">{{feature.name}}{{feature.icon}}</span>
            </a>
            <div class="mod-split-line mod-break-2padding"></div>
        </div>

    </div>
    {{roomInfo.checkIn | date:'MM月dd日'}}入住--{{roomInfo.checkOut| date:'MM月dd日'}}离店<br/>
    <p>共{{roomInfo.stayDays}}天</p>
    
    表单输入：
    <form novalidate class="simple-form" name="orderDetail">
        <label class="item item-input">
          <span class="input-label" ng-model="roomInfo.roomNumber">房间数:</span>
          <input type="number">
        </label>
        <label class="item item-input">
          <span class="input-label" ng-model="roomInfo.contactName">联系人姓名:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label" ng-model="roomInfo.mobile">手机号:</span>
          <input type="number">
          
        </label>
        <button ng-click="roomInfo.getAuthCode()">接收验证码</button>
        <label class="item item-input">
          <span class="input-label" ng-model="roomInfo.authCode">验证码</span>
          <input type="number">
        </label>
    </form>
    列表：
    <ion-list>
      <ion-item ng-repeat="room in roomInfo.roomOrderLists" >
        <p>日期：{{room.date |date}} 当日单价：{{room.price | currency}}</p>  
      </ion-item>
    </ion-list>
    退改协议：<br/>{{roomInfo.room.changeDeal}}<br/>
    <button ng-click="">确认支付</button>


    <a ui-sref="orderInfo">orderInfo</a>
    <a ng-click="roomInfo.newOrder()">提交订单</a>
</div>    