<div ng-controller="roomOrderListController as rol" ng-init="rol.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{'myOrders'|translate}}</h1>
        <!-- <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button> -->
    </div>
    <div class="list mod-has-header">
        <div ng-repeat="order in rol.orderLists track by $index" ui-sref="bookOrderInfo({orderId:order.ID})">
            <div class="item item-divider">
                <p>{{'orderID'|translate}} #{{order.OrderNum}}</p>
                <span class="item-note">
                    <p>{{order.Status | orderStatus}}</p>
                </span>
            </div>
            <div class="item item-thumbnail-left mod-no-side-border" >
                    <div ng-repeat="good in order.GoodsList">
                        <div class="mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{good.RoomBasicInfo.roomImg}});"></div>
                        <h2>{{good.RoomBasicInfo.RoomTypeName}}×{{good.GoodsNum}}</h2>

                        <p>{{good.RoomBasicInfo.HotelBasicInfo.HotelName}}</p>
                        
                        <p>{{good.BookStartDate | date:'MM月dd日'}}{{'checkIn'|translate}}~{{good.BookEndDate | date:'MM月dd日'}}{{'checkOut'|translate}}</p>

                    </div>
                    <p>{{'totalPrice'|translate}}:&nbsp￥{{order.Price | fenToYuan}}</p>
                    
            </div>
            
        </div>
    </div>
    <p ng-show="rol.showLoadingBool.searchBool==true && rol.orderListNum ==0 ">很抱歉，暂无订单</p>



</div>

