<div ng-controller="shopOrderInfoController as shopOrderInfo" ng-init="shopOrderInfo.init()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">订单详情</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>
    <div class=" mod-has-header">
        <div class="item mod-no-border-top">
            <div class="row">
                <p class="col mod-no-padding">{{'orderID'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.OrderNum}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'orderDate'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.dealTime | dateTimeToTimestamp | date:'yyyy.M.d HH:mm:ss'}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'totalPrice'|translate}}:</p>
                <p class="col mod-no-padding col-75">¥{{shopOrderInfo.detail.totalPri | fenToYuan}}</p>
            </div>
            <!-- <div class="row">
                <p class="col mod-no-padding">{{'payMethod'|translate}}:</p>
                <p class="col mod-no-padding col-75">微信支付</p>
            </div> -->
            <div class="row">
                <p class="col mod-no-padding">{{'orderStatus'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.Status | orderStatus}}</p>
            </div>
        </div>
    </div>
    <div class="item item-divider"></div>
    <div class="list padding mod-inset-forms mod-list">
        <a class="item item-thumbnail-left mod-no-side-border"  ng-repeat="product in shopOrderInfo.detail.productList">
            <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{product.imgSrc}});"></div>
            <h2>{{product.name}}</h2>
            <p>单价:&nbsp￥{{product.unitPrice | fenToYuan}}</p>
            <p>购买数量:&nbsp{{product.number}}</p>
        </a>
    </div>
    <div class="item">
        <div class="row">
            <p class="col mod-no-padding">联系人:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.name}}</p>
        </div>
        <div class="row">
            <p class="col mod-no-padding">手机号:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.mobile}}</p>
        </div>
        <div class="row">
            <p class="col mod-no-padding">配送方式:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.deliverWay | deliverWay}} </p>
        </div>
        <div class="row">
            <p class="col mod-no-padding">送货地址:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.address}}</p>
        </div>
    </div>
    <div class="item item-divider">
        <button id="payBtn" ng-show="shopOrderInfo.showPayBtn" class="button button-block button-balanced" ng-click="shopOrderInfo.pay()">{{'payNow'|translate}}</button>
        <button ng-click="shopOrderInfo.canelOrder" id="cancelBtn" ng-show="shopOrderInfo.showCancelBtn" class="button button-block button-positive">取消订单</button>
        <a class="button button-block button-positive" ui-sref="shopHome">继续购物</a>
    </div>
</div>
