<div ng-controller="shopOrderInfoController as shopOrderInfo" ng-init="shopOrderInfo.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{'orderDetail'|translate}}</h1>
        <!-- <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button> -->
    </div>
    <div class=" mod-has-header">
        <div class="item mod-no-border-top">
            <div class="row">
                <p class="col mod-no-padding">{{'orderID'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.OrderNum}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'orderDate'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.dealTime}}</p>
            </div>
            <div class="row">
                <p class="col mod-no-padding">{{'totalPrice'|translate}}:</p>
                <p class="col mod-no-padding col-75">
                    <!-- 总价 -->
                    <ng-if ng-if="shopOrderInfo.detail.PayBy.indexOf('money') !== -1">¥ {{shopOrderInfo.detail.totalPri | fenToYuan}}</ng-if>
                    <ng-if ng-if="shopOrderInfo.detail.PayBy.indexOf('money') !== -1 && shopOrderInfo.detail.PayBy.indexOf('point') !== -1">和</ng-if>
                    <!-- 花费积分 -->
                    <ng-if ng-if="shopOrderInfo.detail.PayBy.indexOf('point') !== -1"> {{shopOrderInfo.detail.totalPoint}}积分</ng-if>
                </p>
            </div>
            <!-- <div class="row">
                <p class="col mod-no-padding">{{'payMethod'|translate}}:</p>
                <p class="col mod-no-padding col-75">微信支付</p>
            </div> -->
            <div class="row">
                <p class="col mod-no-padding">{{'orderStatus'|translate}}:</p>
                <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.Status | orderStatus : shopOrderInfo.detail.deliverWay}}</p>
            </div>
        </div>
    </div>
    <div class="item item-divider"></div>
    <div class="list padding mod-inset-forms mod-list">
        <div class="item item-thumbnail-left mod-no-side-border"  ng-repeat="product in shopOrderInfo.detail.productList">
            <div ui-sref="shopProductDetail({hotelId: product.HotelID, shopId:product.ShopID, productId: product.GoodsID, hotelName: product.HotelName})">
                <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{product.img}});"></div>
                <h2>{{product.GoodsName}}</h2>
                <!-- 单价 -->
                <p ng-if="product.PayBy === 'money'">{{'unitPrice'|translate}}:&nbsp￥{{product.price | fenToYuan}}</p>
                <!-- 立减 -->
                <p ng-if="product.PayBy === 'money' && product.Decline > 0">立减:&nbsp￥{{product.Decline | fenToYuan}}</p>
                <!-- 积分 -->
                <p ng-if="product.PayBy === 'point'">积分:&nbsp{{product.point}}</p>
                <p>{{'productQuantity'|translate}}:&nbsp{{product.GoodsNum}}</p>
            </div>    
        </div>
    </div>
    <div class="item">
        <!--联系人-->
        <div class="row">
            <p class="col mod-no-padding">{{'contackName'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.name}}</p>
        </div>
        <!--手机号-->
        <div class="row">
            <p class="col mod-no-padding">{{'phoneNumber'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.mobile}}</p>
        </div>
        <!--配送方式-->
        <div class="row">
            <p class="col mod-no-padding">{{'deliverWay'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.deliverWay | deliverWay}} </p>
        </div>
        <!--配送地址-->
        <div ng-if="!(shopOrderInfo.detail.deliverWay == 'bySelf')" class="row">
            <p class="col mod-no-padding">{{shopOrderInfo.detail.deliverWay == 'homeDelivery'?'房间号':'收货地址'}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.address}}</p>
        </div>
        <!--快递公司-->
        <div ng-if="shopOrderInfo.detail.ExpressCompany" class="row">
            <p class="col mod-no-padding">{{'expressCompany'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.ExpressCompany}} </p>
        </div>
        <!--快递单号-->
        <div ng-if="shopOrderInfo.detail.ExpressNum" class="row">
            <p class="col mod-no-padding">{{'expressNo'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.ExpressNum}} </p>
        </div>
        <!-- <div class="row">
            <p class="col mod-no-padding">{{'hotelName'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.hotelName}}</p>
        </div>
        <div class="row">
            <p class="col mod-no-padding">{{'shopName'|translate}}:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.shopName}}</p>
        </div> -->
    </div>
    <!--发票信息-->
    <div class="item" ng-if="shopOrderInfo.detail.InvoiceStatus!=0">
        <div class="row">
            <p class="col mod-no-padding">发票状态:</p>
            <p class="col mod-no-padding col-75" ng-show="shopOrderInfo.detail.InvoiceStatus==1">待开发票</p>
            <p class="col mod-no-padding col-75" ng-show="shopOrderInfo.detail.InvoiceStatus==2">已开发票</p>
        </div>
        <div class="row" ng-if="shopOrderInfo.detail.InvoiceStatus!=0">
            <p class="col mod-no-padding">发票类型:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.InvoiceType==1?'公司':'个人'}}</p>
        </div>
        <div class="row" ng-if-start="shopOrderInfo.detail.InvoiceType==1">
            <p class="col mod-no-padding">发票抬头:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.InvoiceTitle}}</p>
        </div>
        <div class="row" ng-if-end>
            <p class="col mod-no-padding">发票税号:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.TaxID}}</p>
        </div>
        <div class="row" ng-if="shopOrderInfo.detail.InvoiceStatus!=0 && shopOrderInfo.detail.InvoiceRemark">
            <p class="col mod-no-padding">发票备注:</p>
            <p class="col mod-no-padding col-75">{{shopOrderInfo.detail.InvoiceRemark}}</p>
        </div>
    </div>
    <!-- <div class="item item-divider" style="{{ !shopOrderInfo.showCancelBtn ? 'height: calc(100vh - 477px); ' : ''}}"> -->
    <div class="item item-divider" style="min-height: calc(100vh - 410px)">

        <!-- 去支付按钮 -->
        <button id="payBtn" ng-show="shopOrderInfo.showPayBtn" class="button button-block button-balanced" ng-click="shopOrderInfo.pay()">{{'payNow'|translate}}</button>
        <!-- 确认收货按钮 -->
        <button id="confirmReceiptBtn" ng-show="shopOrderInfo.delivering" ng-click="shopOrderInfo.confirmReceipt()" class="button button-block button-balanced">{{'confirmReceipt'|translate}}</button>
        <!-- 继续购物按钮 有bug 没有标注商城标识 -->
        <a class="button button-block button-positive" ng-click="shopOrderInfo.gotoShop()">继续逛逛</a>

        <!-- 取消订单按钮 -->
        <button ng-click="shopOrderInfo.canelOrder()" id="cancelBtn" ng-show="shopOrderInfo.showCancelBtn" class="button button-block button-light">{{'cancelOrder'|translate}}</button>
    </div>
</div>
