<div ng-controller="shopOrderListController as sol" ng-init="sol.beforeInit()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">{{'myOrders'|translate}}</h1>
        <!-- <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button> -->
    </div>
    <div class="list mod-has-header">
        <div ng-repeat="order in sol.orderLists" >
            <div class="item item-divider">
                <p>{{'orderID'|translate}} #{{order.OrderNum}}</p>
            </div>
            <div class="item item-thumbnail-left mod-no-side-border" ng-click="sol.nextState(order.ID)" >
                    <div ng-repeat="goods in order.GoodsList track by $index" class="mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{goods.img}});"></div>
                    <span class="item-note">
                        <p>{{order.Status | orderStatus}}</p>
                    </span>
                    <h2>{{order.totalGoods}}{{'countsProducts'|translate}}<!--件商品--></h2>
                    <p>{{'totalPrice'|translate}}: &nbsp￥{{order.totalPrice | fenToYuan}} </p>
            </div>
        </div>
    </div>
    <p ng-show="sol.showLoadingBool.searchBool==true && sol.orderListNum ==0 ">{{'noResults'|translate}}</p>
    

</div>