<div ng-controller="shopHomeController as shopHome" ng-init="shopHome.init()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">商城</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>

        

    <!-- 分类 -->
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item" ng-repeat="category in shopHome.categoryList track  by category.id" ng-click="shopHome.searchProductList(category.id,true)" ng-class="{active:(shopHome.searchProductId==category.id)}">
	        {{category.name}}
	      </a>
        </div>
    </div>


   
    <div class="card mod-flat" ng-repeat='product in shopHome.productList' ui-sref="shopProductDetail">
        <div class="item mod-no-border">
            <div class="full-image mod-cover mod-radius mod-4x3" style="background-image: url({{product.imgSrc}});"></div>
        </div>
        <div class="item mod-no-border ">
        	<h2>{{product.name}}</h2>
        	<p>{{product.intro}}</p>
            <h2 class="mod-member-price assertive">￥{{product.price}}</h2>
        </div>
    </div>


    <a  ng-click="shopHome.moreProduct()" ng-show="shopHome.productTotal>shopHome.productList.length">更多商品</a><ion-spinner icon="ripple" ng-show="shopHome.showLoadingIcon"></ion-spinner><br>
    <p ng-show="shopHome.productTotal==shopHome.productList.length">没有更多了(┬＿┬)</p> 
    




   


  



</div>
