<div ng-controller="shopCartController as shopCart" ng-init="shopCart.init()">
    <div class="mod-has-header" style="padding-top: 114px;">
        <div class="item mod-ghost" ng-if="shopCart.hasEx"></div>
        
        <p class="mod-note-emptylist" ng-show="shopCartList.length == 0">
            <i class="icon ion-ios-cart-outline"></i><br>
            空荡荡的购物车
        </p>

        <div class="item item-divider" ng-repeat-start="item in shopCartList track by $index"></div>
        <div class="card mod-flat mod-no-margin-vertical" ng-repeat-end="item in shopCartList track by $index">

            <ion-checkbox ng-model="isChecked" class="item-icon-right">
                ￥{{item.price*item.count | fenToYuan}}
                <a class="icon ion-ios-trash-outline dark" ng-click="shopCart.delete($index)" style="font-size: 24px;"></a>
            </ion-checkbox>

            <div class="item item-thumbnail-left">
                <div class="full-image mod-cover mod-radius mod-img-in-thumbnail" style="background-image: url({{item.thumbnailSrc}});"></div>
                <h2>{{item.productName}}</h2>
                <h2 class="assertive">单价:&nbsp￥{{item.price | fenToYuan}}</h2>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    <div ng-if="(item.availableCount - item.count) >= 0">购买数量</div>
                    <div ng-if="(item.availableCount - item.count) < 0" class="assertive">超过库存{{item.count - item.availableCount}}</div>
                </div>
                <a class="button button-small button-light icon ion-ios-minus-empty" ng-class="{disabled:( item.count <= 1)}" ng-click="shopCart.minusOne($index)"></a>
                <span class="mod-input-number">
                    {{item.count}}
                </span>
                <a class="button button-small button-light icon ion-ios-plus-empty" ng-class="{disabled:((item.availableCount - item.count) <= 0)}" ng-click="shopCart.plusOne($index)"></a>
            </div>
            <!-- <ion-toggle ng-model="item.dist">此商品需要配送？</ion-toggle> -->
            <div class="mod-cart-prod-disabled" ng-show="item.status==0 || item.availableCount==0">
                <a class="icon ion-ios-trash dark" ng-click="shopCart.delete($index)" style="position: absolute; font-size: 24px; right: 0; color: white; float: right; margin: 10px 30px; z-index: 2;"></a>
                <h2>
                    <i class="icon ion-heart-broken"></i>
                    <br>
                    <small ng-if="item.status==0">十分抱歉，商品已经下架了</small>
                    <small ng-if="item.status!=0 && item.availableCount==0">Oops.. 一不小心卖光了</small>
                </h2>
            </div>
        </div>
        <form class="light-bg list  padding mod-inset-forms mod-fixed mod-fixed-top " name="orderForm" ng-submit="orderForm.$valid && shopCartList.length>0 && shopCart.submitOrder()">

            <div class="item-note button button-assertive" ng-class="{disabled: shopCartList.length==0 || !orderForm.$valid}" type="submit" style=" text-indent: 3px; top: 4px; right: 2px; padding-bottom: 0px;line-height: 42px; height: 42px;min-height: 42px;">
                支付
                <i class="icon ion-ios-arrow-right" style="position: relative; top: 2px;"></i>
            </div>
            <h3 class="mod-font-light mod-text-indent">
                总价:&nbsp¥{{shopCart.totalPrice | fenToYuan}}
                <small ng-if="shopCart.hasEx">
                    (&nbsp含邮费¥{{shopCart.postage | fenToYuan}}&nbsp)
                    
                </small>
            </h3>
            <div class="item item-input mod-short">
                <div class="input-label">联系人</div>
                <input type="text" ng-model="shopCart.address.name" required />
            </div>
            <div class="item item-input mod-short">
                <div class="input-label">手机</div>
                <input type="text" ng-model="shopCart.address.mobile" required />
            </div>
            <ion-toggle ng-model="item.dist">需要配送？</ion-toggle>
            
            <!-- <div class="item item-input mod-short" ng-if="shopCart.hasEx"> -->
            <div class="item item-input mod-short">
                <div class="input-label">地址</div>
                <input type="text" ng-model="shopCart.address.address" required/>
            </div>

        </form>
    </div>
</div>
