<div ng-controller="shopOrderInfoController as shopOrderInfo" ng-init="shopOrderInfo.init()">
    <div class="bar bar-header bar-light mod-fixed">
        <h1 class="title">订单详情</h1>
        <button class="button button-icon icon ion-navicon" ng-click="root.showMainMenu(true)"></button>
    </div>
    <br><br><br><br><br>
    订单号：{{shopOrderInfo.detail.orderId}}<br>
    订单状态：{{shopOrderInfo.detail.orderStatus}}<br>
    下单时间：{{shopOrderInfo.detail.orderId| date}}<br>
    总价：{{shopOrderInfo.detail.totalPri}}<br>
    商品列表：
    <div ng-repeat="product in shopOrderInfo.detail.productList">
        <img ng-src="{{product.imgSrc}}" style="width:100px;height:80px;"><br>
    	商品名字：{{product.name}}<br>
    	商品单价：{{product.unitPrice}}<br>
    	商品数量：{{product.number}}<br>

    </div>
    姓名：{{shopOrderInfo.detail.name}}<br>
    住址：{{shopOrderInfo.detail.address}}<br>
    手机：{{shopOrderInfo.detail.mobile}}<br>
    <button>继续购物</button>
    

</div>